p {
  margin: 0;
}

body {
  background-color: #fdf5e6;
}

.container {
  margin: 50px auto 0 auto;
  max-width: 90%;
  text-align: center;
}

.score {
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  max-width: 200px;
  margin: 0 auto;
  background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.score-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  color: rgba(0, 0, 0, 0.6);
}

.score-wrapper i {
  font-style: normal;
}

#userCounter,
#computerCounter {
  font-size: 15px;
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 2px;
  align-self: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#userCounter {
  margin-right: 5px;
}

#computerCounter {
  margin-left: 5px;
}

.selections {
  margin-top: 80px;
}

.selections i {
  color: white;
  font-size: 35px;
  cursor: pointer;
  margin-right: 15px;
  padding: 10px;
  background-color: rgba(255, 160, 122, 0.65);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.selections i:hover {
  opacity: .8;
}